---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/miq-consumption/miq_exchange_demo_repo/releases?client_id=CLIENT-ID&client_secret=CLIENT-SECRET
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1516723864'
      Etag:
      - W/"7864a32b40937c3a82d4ea5931d7c73d"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/miq-consumption/miq_exchange_demo_repo/releases/9193300","assets_url":"https://api.github.com/repos/miq-consumption/miq_exchange_demo_repo/releases/9193300/assets","upload_url":"https://uploads.github.com/repos/miq-consumption/miq_exchange_demo_repo/releases/9193300/assets{?name,label}","html_url":"https://github.com/miq-consumption/miq_exchange_demo_repo/releases/tag/1.0.1","id":9193300,"tag_name":"1.0.1","target_commitish":"master","name":"Release
        1 update 1","draft":false,"author":{"login":"chargio","id":7500590,"avatar_url":"https://avatars3.githubusercontent.com/u/7500590?v=4","gravatar_id":"","url":"https://api.github.com/users/chargio","html_url":"https://github.com/chargio","followers_url":"https://api.github.com/users/chargio/followers","following_url":"https://api.github.com/users/chargio/following{/other_user}","gists_url":"https://api.github.com/users/chargio/gists{/gist_id}","starred_url":"https://api.github.com/users/chargio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chargio/subscriptions","organizations_url":"https://api.github.com/users/chargio/orgs","repos_url":"https://api.github.com/users/chargio/repos","events_url":"https://api.github.com/users/chargio/events{/privacy}","received_events_url":"https://api.github.com/users/chargio/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2018-01-11T10:29:56Z","published_at":"2018-01-11T10:37:29Z","assets":[],"tarball_url":"https://api.github.com/repos/miq-consumption/miq_exchange_demo_repo/tarball/1.0.1","zipball_url":"https://api.github.com/repos/miq-consumption/miq_exchange_demo_repo/zipball/1.0.1","body":"Update
        on README"},{"url":"https://api.github.com/repos/miq-consumption/miq_exchange_demo_repo/releases/9193048","assets_url":"https://api.github.com/repos/miq-consumption/miq_exchange_demo_repo/releases/9193048/assets","upload_url":"https://uploads.github.com/repos/miq-consumption/miq_exchange_demo_repo/releases/9193048/assets{?name,label}","html_url":"https://github.com/miq-consumption/miq_excha[...]
