---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/contents/metadata.yml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.github.raw; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1518016070'
      Etag:
      - '"c5f9a790061e95cbb8079e223f6f1038caa56d32"'
      Last-Modified:
      - Tue, 06 Feb 2018 15:58:04 GMT
      X-Github-Media-Type:
      - github.v3; param=raw
    body:
      encoding: UTF-8
      string: |
        metadata_version: 1 # It must be 1
        description: "Description"
        author: "Author Name"
        company: #Optional

        min_miq_version: "h"
        # A letter with the manageiq_version:
        # For Hammer, use "h"
        # For Gaprishdanvili, use "g"
        # Etc.

        # max_miq_version: "h"

        tags: ['demo','open source']
        # List tags for your spin here, one per line. A tag is a keyword that describes
        # and categorizes the spin. Users find spins by searching for tags. Be sure to
        # remove the '[]' above, if you add tags to this list.
        #
        # NOTE: A tag is limited to a single word comprised of alphanumeric characters.
        # Maximum 20 tags per spin.

        # Spin version
        # The spin version will be gathered from the releases tag in GitHub

        # Many licenses need an actual file to work. We use the License API from GitHub
        # Some suggested licenses to configure in the repo:
        # - BSD (default)
        # - MIT
        # - GPLv2
        # - GPLv3
        # - Apache
        # - CC-BY
        # - The Unlicense
  recorded_at: Wed, 07 Feb 2018 14:08:54 GMT
- request:
    method: get
    uri: https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/readme
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.github.raw; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Ratelimit-Reset:
      - '1518016070'
      Etag:
      - '"c61f2841dd572027cc723bd096ab12aa"'
      Last-Modified:
      - Tue, 06 Feb 2018 15:58:04 GMT
      X-Github-Media-Type:
      - github.v3; param=raw
    body:
      encoding: UTF-8
      string: "# Test repo for content in ManageIQ Exchange\n\nIn order to publish
        a Spin in ManageIQ Exchange you will need:\n\n - A file that identifies the
        repo as a manageiq-spin\n ```.manageiq-spin```\n - A metadata file with the
        right format (please see template comments in \n ```metadata.yml```. Metadata
        format is validated.\n - At least a [release](https://help.github.com/articles/creating-releases/)
        in the GitHub Repo. Please use vx.y.z as the release tag, except for betas
        or special test releases. For instance, v1.0.0\n - A license that is identified
        in GitHub (use the add license)\n"
  recorded_at: Wed, 07 Feb 2018 14:08:55 GMT
- request:
    method: get
    uri: https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1518016070'
      Etag:
      - W/"ad459add403cd0c99ed31500912cb28c"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/releases/9193300","assets_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/releases/9193300/assets","upload_url":"https://uploads.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/releases/9193300/assets{?name,label}","html_url":"https://github.com/ManageIQ-Exchange/manageiq-exchange-spin-template/releases/tag/v1.0.1","id":9193300,"tag_name":"v1.0.1","target_commitish":"master","name":"Release
        1 update 1","draft":false,"author":{"login":"chargio","id":7500590,"avatar_url":"https://avatars3.githubusercontent.com/u/7500590?v=4","gravatar_id":"","url":"https://api.github.com/users/chargio","html_url":"https://github.com/chargio","followers_url":"https://api.github.com/users/chargio/followers","following_url":"https://api.github.com/users/chargio/following{/other_user}","gists_url":"https://api.github.com/users/chargio/gists{/gist_id}","starred_url":"https://api.github.com/users/chargio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chargio/subscriptions","organizations_url":"https://api.github.com/users/chargio/orgs","repos_url":"https://api.github.com/users/chargio/repos","events_url":"https://api.github.com/users/chargio/events{/privacy}","received_events_url":"https://api.github.com/users/chargio/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2018-01-23T08:46:49Z","published_at":"2018-01-11T10:37:29Z","assets":[],"tarball_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/tarball/v1.0.1","zipball_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/zipball/v1.0.1","body":"Update
        on README"},{"url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/releases/9193048","assets_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/releases/9193048/assets","upload_url":"https://uploads.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/releases/9193048/assets{?name,label}","html_url":[...]
- request:
    method: get
    uri: https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      X-Ratelimit-Reset:
      - '1518016070'
      Etag:
      - W/"5d49d04bc6e0af1d14bc24798d41b009"
      Last-Modified:
      - Mon, 05 Feb 2018 12:47:32 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":110971129,"name":"manageiq-exchange-spin-template","full_name":"ManageIQ-Exchange/manageiq-exchange-spin-template","owner":{"login":"ManageIQ-Exchange","id":36072786,"avatar_url":"https://avatars0.githubusercontent.com/u/36072786?v=4","gravatar_id":"","url":"https://api.github.com/users/ManageIQ-Exchange","html_url":"https://github.com/ManageIQ-Exchange","followers_url":"https://api.github.com/users/ManageIQ-Exchange/followers","following_url":"https://api.github.com/users/ManageIQ-Exchange/following{/other_user}","gists_url":"https://api.github.com/users/ManageIQ-Exchange/gists{/gist_id}","starred_url":"https://api.github.com/users/ManageIQ-Exchange/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ManageIQ-Exchange/subscriptions","organizations_url":"https://api.github.com/users/ManageIQ-Exchange/orgs","repos_url":"https://api.github.com/users/ManageIQ-Exchange/repos","events_url":"https://api.github.com/users/ManageIQ-Exchange/events{/privacy}","received_events_url":"https://api.github.com/users/ManageIQ-Exchange/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/ManageIQ-Exchange/manageiq-exchange-spin-template","description":"ManageIQ
        Example repo","fork":false,"url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template","forks_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/forks","keys_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/teams","hooks_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/hooks","issue_events_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/issues/events{/number}","events_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/events","assignees_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/assignees{/user}","branches_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/branches{/branch}","tags_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/tags","blobs_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/git/refs{/sha}","trees_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/statuses/{sha}","languages_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/languages","stargazers_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/stargazers","contributors_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/contributors","subscribers_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/subscribers","subscription_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/subscription","commits_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/commits{/sha}","git_commits_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/git/commits{/sha}","comments_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/comments{/number}","issue_comment_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/issues/comments{/number}","contents_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/contents/{+path}","compare_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/merges","archive_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/downloads","issues_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/issues{/number}","pulls_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/pulls{/number}","milestones_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/milestones{/number}","notifications_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/labels{/name}","releases_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/releases{/id}","deployments_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/deployments","created_at":"2017-11-16T12:52:10Z","updated_at":"2018-02-05T12:47:32Z","pushed_at":"2018-02-06T15:58:05Z","git_url":"git://github.com/ManageIQ-Exchange/manageiq-exchange-spin-template.git","ssh_url":"git@github.com:ManageIQ-Exchange/manageiq-exchange-spin-template.git","clone_url":"https://github.com/ManageIQ-Exchange/manageiq-exchange-spin-template.git","svn_url":"https://github.com/ManageIQ-Exchange/manageiq-exchange-spin-template","homepage":"","size":61,"stargazers_count":1,"watchers_count":1,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":5,"mirror_url":null,"archived":false,"open_issues_count":0,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit"},"forks":5,"open_issues":0,"watchers":1,"default_branch":"master","organization":{"login":"ManageIQ-Exchange","id":36072786,"avatar_url":"https://avatars0.githubusercontent.com/u/36072786?v=4","gravatar_id":"","url":"https://api.github.com/users/ManageIQ-Exchange","html_url":"https://github.com/ManageIQ-Exchange","followers_url":"https://api.github.com/users/ManageIQ-Exchange/followers","following_url":"https://api.github.com/users/ManageIQ-Exchange/following{/other_user}","gists_url":"https://api.github.com/users/ManageIQ-Exchange/gists{/gist_id}","starred_url":"https://api.github.com/users/ManageIQ-Exchange/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ManageIQ-Exchange/subscriptions","organizations_url":"https://api.github.com/users/ManageIQ-Exchange/orgs","repos_url":"https://api.github.com/users/ManageIQ-Exchange/repos","events_url":"https://api.github.com/users/ManageIQ-Exchange/events{/privacy}","received_events_url":"https://api.github.com/users/ManageIQ-Exchange/received_events","type":"Organization","site_admin":false},"network_count":5,"subscribers_count":1}'
  recorded_at: Wed, 07 Feb 2018 14:08:56 GMT
recorded_with: VCR 4.0.0
