---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/contents/.manageiq-spin?client_id=CLIENT-ID&client_secret=CLIENT-SECRET
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1517915401'
      Etag:
      - W/"8b137891791fe96927ad78e64b0aad7bded08bdc"
      Last-Modified:
      - Tue, 23 Jan 2018 08:46:49 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":".manageiq-spin","path":".manageiq-spin","sha":"8b137891791fe96927ad78e64b0aad7bded08bdc","size":1,"url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/contents/.manageiq-spin?ref=master","html_url":"https://github.com/ManageIQ-Exchange/manageiq-exchange-spin-template/blob/master/.manageiq-spin","git_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/git/blobs/8b137891791fe96927ad78e64b0aad7bded08bdc","download_url":"https://raw.githubusercontent.com/ManageIQ-Exchange/manageiq-exchange-spin-template/master/.manageiq-spin","type":"file","content":"Cg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/contents/.manageiq-spin?ref=master","git":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/git/blobs/8b137891791fe96927ad78e64b0aad7bded08bdc","html":"https://github.com/ManageIQ-Exchange/manageiq-exchange-spin-template/blob/master/.manageiq-spin"}}'
  recorded_at: Tue, 06 Feb 2018 10:12:40 GMT
recorded_with: VCR 4.0.0
