---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template?client_id=CLIENT-ID&client_secret=CLIENT-SECRET
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1517953147'
      Etag:
      - W/"5d49d04bc6e0af1d14bc24798d41b009"
      Last-Modified:
      - Mon, 05 Feb 2018 12:47:32 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":110971129,"name":"manageiq-exchange-spin-template","full_name":"ManageIQ-Exchange/manageiq-exchange-spin-template","owner":{"login":"ManageIQ-Exchange","id":36072786,"avatar_url":"https://avatars0.githubusercontent.com/u/36072786?v=4","gravatar_id":"","url":"https://api.github.com/users/ManageIQ-Exchange","html_url":"https://github.com/ManageIQ-Exchange","followers_url":"https://api.github.com/users/ManageIQ-Exchange/followers","following_url":"https://api.github.com/users/ManageIQ-Exchange/following{/other_user}","gists_url":"https://api.github.com/users/ManageIQ-Exchange/gists{/gist_id}","starred_url":"https://api.github.com/users/ManageIQ-Exchange/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ManageIQ-Exchange/subscriptions","organizations_url":"https://api.github.com/users/ManageIQ-Exchange/orgs","repos_url":"https://api.github.com/users/ManageIQ-Exchange/repos","events_url":"https://api.github.com/users/ManageIQ-Exchange/events{/privacy}","received_events_url":"https://api.github.com/users/ManageIQ-Exchange/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/ManageIQ-Exchange/manageiq-exchange-spin-template","description":"ManageIQ
        Example repo","fork":false,"url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template","forks_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/forks","keys_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/teams","hooks_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/hooks","issue_events_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/issues/events{/number}","events_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/events","assignees_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/assignees{/user}","branches_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/branches{/branch}","tags_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/tags","blobs_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/git/refs{/sha}","trees_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/statuses/{sha}","languages_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/languages","stargazers_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/stargazers","contributors_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/contributors","subscribers_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/subscribers","subscription_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/subscription","commits_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/commits{/sha}","git_commits_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/git/commits{/sha}","comments_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/comments{/number}","issue_comment_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/issues/comments{/number}","contents_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/contents/{+path}","compare_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/merges","archive_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/downloads","issues_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/issues{/number}","pulls_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/pulls{/number}","milestones_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/milestones{/number}","notifications_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/labels{/name}","releases_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/releases{/id}","deployments_url":"https://api.github.com/repos/ManageIQ-Exchange/manageiq-exchange-spin-template/deployments","created_at":"2017-11-16T12:52:10Z","updated_at":"2018-02-05T12:47:32Z","pushed_at":"2018-02-06T15:58:05Z","git_url":"git://github.com/ManageIQ-Exchange/manageiq-exchange-spin-template.git","ssh_url":"git@github.com:ManageIQ-Exchange/manageiq-exchange-spin-template.git","clone_url":"https://github.com/ManageIQ-Exchange/manageiq-exchange-spin-template.git","svn_url":"https://github.com/ManageIQ-Exchange/manageiq-exchange-spin-template","homepage":"","size":61,"stargazers_count":1,"watchers_count":1,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":5,"mirror_url":null,"archived":false,"open_issues_count":0,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit"},"forks":5,"open_issues":0,"watchers":1,"default_branch":"master","organization":{"login":"ManageIQ-Exchange","id":36072786,"avatar_url":"https://avatars0.githubusercontent.com/u/36072786?v=4","gravatar_id":"","url":"https://api.github.com/users/ManageIQ-Exchange","html_url":"https://github.com/ManageIQ-Exchange","followers_url":"https://api.github.com/users/ManageIQ-Exchange/followers","following_url":"https://api.github.com/users/ManageIQ-Exchange/following{/other_user}","gists_url":"https://api.github.com/users/ManageIQ-Exchange/gists{/gist_id}","starred_url":"https://api.github.com/users/ManageIQ-Exchange/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ManageIQ-Exchange/subscriptions","organizations_url":"https://api.github.com/users/ManageIQ-Exchange/orgs","repos_url":"https://api.github.com/users/ManageIQ-Exchange/repos","events_url":"https://api.github.com/users/ManageIQ-Exchange/events{/privacy}","received_events_url":"https://api.github.com/users/ManageIQ-Exchange/received_events","type":"Organization","site_admin":false},"network_count":5,"subscribers_count":1}'
  recorded_at: Tue, 06 Feb 2018 20:39:07 GMT
recorded_with: VCR 4.0.0
