---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/miq-consumption/galaxy_demo_repos/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1515669489'
      Etag:
      - W/"cf296a95acb4609d70e5725e55af6add"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/miq-consumption/galaxy_demo_repos/releases/9193048","assets_url":"https://api.github.com/repos/miq-consumption/galaxy_demo_repos/releases/9193048/assets","upload_url":"https://uploads.github.com/repos/miq-consumption/galaxy_demo_repos/releases/9193048/assets{?name,label}","html_url":"https://github.com/miq-consumption/galaxy_demo_repos/releases/tag/1.0.0","id":9193048,"tag_name":"1.0.0","target_commitish":"master","name":"Release
        1","draft":false,"author":{"login":"aljesusg","id":3019213,"avatar_url":"https://avatars2.githubusercontent.com/u/3019213?v=4","gravatar_id":"","url":"https://api.github.com/users/aljesusg","html_url":"https://github.com/aljesusg","followers_url":"https://api.github.com/users/aljesusg/followers","following_url":"https://api.github.com/users/aljesusg/following{/other_user}","gists_url":"https://api.github.com/users/aljesusg/gists{/gist_id}","starred_url":"https://api.github.com/users/aljesusg/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/aljesusg/subscriptions","organizations_url":"https://api.github.com/users/aljesusg/orgs","repos_url":"https://api.github.com/users/aljesusg/repos","events_url":"https://api.github.com/users/aljesusg/events{/privacy}","received_events_url":"https://api.github.com/users/aljesusg/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2018-01-11T09:17:01Z","published_at":"2018-01-11T10:23:14Z","assets":[],"tarball_url":"https://api.github.com/repos/miq-consumption/galaxy_demo_repos/tarball/1.0.0","zipball_url":"https://api.github.com/repos/miq-consumption/galaxy_demo_repos/zipball/1.0.0","body":"This
        is the release_1"},{"url":"https://api.github.com/repos/miq-consumption/galaxy_demo_repos/releases/9192636","assets_url":"https://api.github.com/repos/miq-consumption/galaxy_demo_repos/releases/9192636/assets","upload_url":"https://uploads.github.com/repos/miq-consumption/galaxy_demo_repos/releases/9192636/assets{?name,label}","html_url":"https://github.com/miq-consumption/galaxy_demo_repos/releas[...]
[...]
